body {
  background-color: #ffe0e8;
}
.main-container {
  text-align: center;
  margin: 0 180px;
  padding: 20px;
}
.article-container {
  box-sizing: border-box;
  border: 1px solid black;
  margin-bottom: 20px;
  background-color: #fff;
}
.title-container {
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin-bottom: 10px;
}

.description-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding: 0 10px 10px 20px;
}
.description-container p {
  margin: 0;
}
.description-container a {
  text-align: right;
}
.image-container {
  text-align: center;
}
.image-container img {
  max-width: 100%;
}

.error-container {
  color: #d8000c;
}
